## Error Analysis

In [53]:
import pandas as pd
import joblib

In [54]:
df_svm = pd.read_csv('/Users/liki/neuefische/Respiratory_Disease_Classification/data/misclassified_svm.csv')
df_resnet = pd.read_csv('/Users/liki/neuefische/Respiratory_Disease_Classification/data/misclassified_testset_ResNet.csv')

In [55]:
# df_svm['filename'] = df_svm['filename'].apply(lambda x: x[2:6])
# df_svm['filename'] = df_svm['filename'].apply(lambda x: x.replace('_',''))
df_svm.head()

   Unnamed: 0 filename  actual  pred
0           6     i194       1     0
1           7     i194       1     0
2          10      f73       1     0
3          11     i194       1     0
4          15     i171       1     0

In [56]:
df_svm['filename'].value_counts()

i194    34
i224    34
i144    31
i171    17
i102    17
i136    17
i123    17
i126    16
i202    16
i214    16
i143    14
i187    11
f85     11
i225     9
f99      7
i182     6
f82      6
f72      5
f63      5
f80      4
f69      4
f101     3
f73      3
f64      3
i223     2
f55      2
i109     2
i185     1
i150     1
f87      1
i195     1
i211     1
f75      1
i160     1
Name: filename, dtype: int64

In [57]:
file_svm = df_svm['filename'].unique()
file_svm.shape

(34,)

In [58]:
df_resnet['filename'] = df_resnet['filename'].apply(lambda x: x[4:8])
df_resnet['filename'] = df_resnet['filename'].apply(lambda x: x.replace('\'',''))

df_resnet.tail(20)
file_rn = df_resnet['filename'].unique()
file_rn.shape

(42,)

In [59]:
df_resnet

     Unnamed: 0 filename  y  y_pred
0             0     f101  0       1
1             2     f101  0       1
2             6      f23  0       1
3             8      f23  0       1
4            10      f23  0       1
..          ...      ... ..     ...
300        1620     i225  1       0
301        1624     i225  1       0
302        1627     i225  1       0
303        1628     i225  1       0
304        1631     i225  1       0

[305 rows x 4 columns]

In [60]:
df_resnet.filename.value_counts()

i224    31
i194    31
i144    24
i202    16
i195    14
i185    13
i109    12
i214    11
i175     9
f64      9
f69      9
i104     9
i223     9
i126     8
i225     8
i171     7
i211     7
i113     7
i124     6
i118     6
i182     6
i102     5
i149     4
f63      4
i160     3
i216     3
f23      3
f55      3
f29      3
i169     3
i143     3
i101     2
i187     2
f101     2
i136     2
f85      2
f72      2
i205     2
i150     2
i165     1
i178     1
f99      1
Name: filename, dtype: int64

In [21]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

print(len(intersection(file_rn, file_svm)))
intersection(file_rn, file_svm)

28

['f101',
 'f55',
 'f63',
 'f64',
 'f69',
 'i109',
 'i150',
 'i160',
 'i185',
 'i195',
 'i211',
 'i223',
 'f72',
 'f85',
 'f99',
 'i102',
 'i126',
 'i136',
 'i143',
 'i144',
 'i171',
 'i182',
 'i187',
 'i194',
 'i202',
 'i214',
 'i224',
 'i225']

In [61]:
df_anno = pd.read_csv('/Users/liki/neuefische/Respiratory_Disease_Classification/data/annotations.csv')
df_anno.head()

,Unnamed: 0,id,diagnosis,train_test,filename,is_healthy
0,0,i101,urti,test,101_1b1_Al_sc_Meditron.wav,0
1,1,i101,urti,test,101_1b1_Pr_sc_Meditron.wav,0
2,2,i102,healthy,test,102_1b1_Ar_sc_Meditron.wav,1
3,3,i103,asthma,train,103_2b2_Ar_mc_LittC2SE.wav,0
4,4,i104,copd,test,104_1b1_Al_sc_Litt3200.wav,0

In [62]:
df_anno[df_anno.train_test=='test'].id.nunique()

57

In [63]:
data_test = joblib.load('spectrogram_test_80x80px.pkl')
files = pd.DataFrame(data_test["filename"], columns = ["filename"])
files

             filename
0      1_f75_4496.png
1      1_f75_4482.png
2      1_f82_4706.png
3      1_f75_4469.png
4      1_f87_4917.png
...               ...
1627  0_i178_2257.png
1628  0_i176_2100.png
1629  0_i176_2114.png
1630  0_i178_2243.png
1631  0_i176_2128.png

[1632 rows x 1 columns]

In [64]:
files["filename"] = files["filename"].apply(lambda x: x[2:6])
files["filename"] = files["filename"].apply(lambda x: x.replace('_',''))

files

     filename
0         f75
1         f75
2         f82
3         f75
4         f87
...       ...
1627     i178
1628     i176
1629     i176
1630     i178
1631     i176

[1632 rows x 1 columns]

In [65]:
df_resnet.iloc[:,1:]

    filename  y  y_pred
0       f101  0       1
1       f101  0       1
2        f23  0       1
3        f23  0       1
4        f23  0       1
..       ... ..     ...
300     i225  1       0
301     i225  1       0
302     i225  1       0
303     i225  1       0
304     i225  1       0

[305 rows x 3 columns]

In [69]:
chunks_re = pd.DataFrame(df_resnet.filename.value_counts())
chunks_re.columns = ['resnet']
chunks_svm = pd.DataFrame(df_svm.filename.value_counts())
chunks_svm.columns = ['svm']
chunks_tot = pd.DataFrame(files.filename.value_counts())
chunks_tot.columns = ['tot']

In [ ]:
.join(df_resnet.iloc[:,1:].set_index('filename'), how='inner')

In [90]:
err_resnet = chunks_re.join(chunks_tot)
err_resnet['perc'] = err_resnet['resnet']/err_resnet['tot'] * 100
err_resnet = err_resnet.sort_values(by='perc', ascending=False).join(df_resnet.iloc[:,1:-1].set_index('filename'), how='inner').drop_duplicates().sort_values(by='perc', ascending=False)
err_resnet[err_resnet.perc>50]

      resnet  tot        perc  y
i202      16   16  100.000000  1
i194      31   34   91.176471  1
f64        9   12   75.000000  0
i144      24   33   72.727273  1
i214      11   16   68.750000  1
i150       2    3   66.666667  0
i185      13   20   65.000000  0
i109      12   20   60.000000  0
i195      14   24   58.333333  0

In [91]:
err_svm = chunks_svm.join(chunks_tot)
err_svm['perc'] = err_svm['svm']/err_svm['tot'] * 100
err_svm = err_svm.join(df_svm.iloc[:,1:-1].set_index('filename'), how='inner').drop_duplicates().sort_values(by='perc', ascending=False)
err_svm[err_svm.perc>50]

      svm  tot        perc  actual
i202   16   16  100.000000       1
i194   34   34  100.000000       1
i102   17   17  100.000000       1
i126   16   17   94.117647       1
i144   31   33   93.939394       1
i143   14   17   82.352941       1
i187   11   17   64.705882       1
f63     5    9   55.555556       0
i225    9   17   52.941176       1
f85    11   21   52.380952       1

i202 100% misclassification rate
i224
i194
i214

In [4]:
from lime import lime_image

ModuleNotFoundError: No module named 'lime'